@media (min-width: 481px) {

	html { height:100%; }

	body {
		height: 100%;
		margin: 0%;
		min-height: 100%;
		font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Osaka,sans-serif;
	/*	background-color: #f3f3f3;
	*/}

	.thumbimg {
		overflow: hidden;
	}

	.content_top {
		background-color: #fff;
	/*	width: 1130px;
		margin: 0 auto;*/
	}

	.content_show {
		background-color: #f3f3f3;
		/*min-height: 100%;*/
		/*height: auto;*/
	/*	height: 100%;
	*/}

	.wrap {
		width: 1000px;
		height:650px;
		display: none;
		margin: 0 auto;
	}

	.top {
		width: 100%;
		height: 170px;
		background-color: white;
	}

	.top_show {
		width: 100%;
		height: 60px;
		background-color: white;
	}

	.top div {
		width: 100%;
		height: auto;
	}

	.top_show p {
		position: absolute;
		display: block;
		width: 80%;
		height: 50%;
		padding-left: 8%;
		font-size: 250%;
		font-family: courier;
		top: 0;
		bottom: 0;
		margin: 1%;
	}

	.top_show p span {
		font-size: 50%;
		font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Osaka,sans-serif;
	}

	.top_show p a {
		color: #000;
		text-decoration: none;
		transition-duration: 0.3s;
	}

	.top_show p a:hover  {
		opacity: 1;
		color: orange;
	}

	#nav_show {
		width: 100%;
		height: 60%;
		border-top: 4px solid black;
		border-bottom: 4px solid black;
		position: relative;
		background-color: white;
	}

	#aboutus {
	/*	width: 10%;
		height: 30px;
		margin-left: 25%;
		margin-right: 5%;
		text-align: center;
		float: left;
		background-color: white;*/
		position: absolute;
		width: 31.6%;
		height: 86%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: 0.5s;
	}

	#aboutus:hover {
		opacity: 1;
	}

	#article {
	/*	width: 10%;
		height: 100%;
		margin-left: 5%;
		margin-right: 5%;
		text-align: center;
		float: left;*/
		position: absolute;
		width: 35.7%;
		height: 86%;
		top: 0;
		left: 30.3%;
		opacity: 0;
		transition: 0.5s;
	}

	#contact {
	/*	width: 10%;
		height: 100%;
		margin-left: 5%;
		margin-right: 5%;
		text-align: center;
		float: left;*/
		position: absolute;
		width: 35.5%;
		height: 86%;
		top: 0;
		right: 0;
		opacity: 0;
		transition: 0.5s;
	}

	#aboutus a, #article a, #contact a {
	/*	color: black;
	*/	text-decoration: none;
		font-family: courier;
		font-size: 20px;
	}

	.aboutus a :hover {
		color: orange;
	}

	.recommend {
		margin-top: 40px;
		margin-bottom: -40px;
		width: 90%;
		height: auto;
		position: relative;
		padding-left: 5%;
		padding-right: 5%;
		background-color: white;
	}

	.recommend img {
		width: 100%;
		height: auto;
	}

	.recommend01, .recommend02, .recommend03, .recommend04 {
		position: absolute;
		top: 0;
		left: 5%;
		width: 90%;
	}

	.recommend01 img, .recommend02 img, .recommend03 img, .recommend04 img {
		width: 100%;
		height: auto;
		z-index: 10;
	}

	.toparticle {
		width: 100%;
		height: 700px;
		padding-top: 5%;
		padding-bottom: 5%;
		background-color: white;
	}

	.toparticlecover {
		width: 80%;
		height: 100%;
		margin-right: auto;
		margin-left: auto;
	}

	.toparticletitle {
		width: 100%;
		height: 10%;
		margin-bottom: 5%;
		position: relative;
	}

	.topborderleft {
		position: absolute;
		width: 30%;
		height: 50%;
		left: 10%;
		top: 50%;
		border-top: 2px solid;
		border-left: 2px solid;
	}

	.topborderright {
		position: absolute;
		width: 30%;
		height: 50%;
		right: 10%;
		top: 50%;
		border-top: 2px solid;
		border-right: 2px solid;
	}

	.topnoborder {
		position: absolute;
		width: 28%;
		height: 50%;
		top: 25%;
		right: 36%;
		bottom: 35%;
		right: 36%;
		background-color: white;
		z-index: 10;
	}

	.topnoborder h2 {
		width: 100%;
		height: 100%;
		text-align: center;
		font-weight: normal;
		font-family: courier;
		font-size: 200%;
		margin: 0;
	}

	.toparticlemain {
		width: 100%;
		height: auto;
	}

	.toparticlenext {
		width: 100%;
		height: 10%;
		top: 160%;
		bottom: 0%;
		position: relative;
	}

	.btnborderleft {
		position: absolute;
		width: 30%;
		height: 50%;
		left: 10%;
		bottom: 50%;
		border-bottom: 2px solid;
		border-left: 2px solid;
	}

	.btnborderright {
		position: absolute;
		width: 30%;
		height: 50%;
		right: 10%;
		bottom: 50%;
		border-bottom: 2px solid;
		border-right: 2px solid;
	}

	.btnnoborder {
		position: absolute;
		width: 36%;
		height: 76%;
		bottom: 12%;
		right: 32%;
		top: 12%;
		left: 32%;
		background-color: white;
		z-index: 10;
	}

	.btnnoborder h3 {
		position: absolute;
		width: 100%;
		height: 50%;
		top: 27%;
		bottom: 23%;
		text-align: center;
		font-weight: normal;
		font-family: courier;
		font-size: 23px;
		margin: 0;
		display: block;
	}

	.toparticlenext a {
		text-decoration: none;
		color: black;
	}

	.toparticlenext a:hover h3{
		color: #ffc107;
		transition: 0.5s;
		font-weight: bolder;
	}

	.toparticlemain {
		width: 100%;
		height: 70%;
	}

	.col-3 {
		width: 22%;
		height: 100%;
		float: left;
	}

	.col-6 {
		width: 45%;
		height: 100%;
		margin-right: 5%;
		margin-left: 5%;
		float: left;
		position: relative;
		overflow: hidden;
	}

	.col-6 img {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: auto;
	}

	.topcontents {
		width: 100%;
		height: 45%;
		margin-bottom: 10%;
		position: relative;
		overflow: hidden;
		border: 2px solid;
	}

	.topcontents:nth-child(2) {
		margin-bottom: 0%;
	}

	.topcontents a {
		text-decoration: none;
	}

	.topcontents a:hover .cover {
		opacity: 0.5;
		transition: 0.3s;
	}

	.topcontents a:hover .more {
		opacity: 1;
		transition: 0.3s;
	}

	.topcontents a:hover .left {
		left: -15%;
	}

	.topcontents a:hover .right {
		right: -15%;
	}

	.left {
		position: absolute;
		width: 40%;
		height: 20%;
		top: 40%;
		left: -45%;
		background-color: black;
		-webkit-transform: skew(10deg);  
	    -moz-transform: skew(10deg); 
	    z-index: 10;
	    transition: 0.3s;
	}

	.right {
		position: absolute;
		width: 40%;
		height: 20%;
		top: 40%;
		right: -45%;
		background-color: black;
		-webkit-transform: skew(10deg);  
	    -moz-transform: skew(10deg); 
	    z-index: 10;
	    transition: 0.3s;
	}

	.cover {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: black;
		opacity: 0;
		transition: 0.3s;
	}

	.more {
		position: absolute;
		width: 40%;
		height: 20%;
		top: 40%;
		bottom: 40%;
		left: 30%;
		right: 30%;
		text-align: center;
		color: white;
		font-family: courier;
		opacity: 0;
		transition: 0.3s;
		z-index: 10;

	}

	.topcontentsimg {
		width: 100%;
		height: 60%;
		position: relative;
		overflow: hidden;
	}

	.topcontentsimg div {
		position: absolute;
		width: 130%;
		height: auto;
	}

	.topcontentsex {
		width: 94%;
		height: 60%;
		padding: 5% 3% 0% 3%;
		background-color: white;
	}

	.topcontentsex h3 {
		width: 100%;
		height: 45%;
		font-size: 17px;
		margin-top: 0;
		margin-bottom: 3%;
		color: black;
		font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Osaka,sans-serif;
	}

	.topwriter {
		width: 50%;
		height: 15%;
		font-size: 14px;
		margin: 0;
		color: black;
	}

	.topdate {
		width: 50%;
		height: 15%;
		font-size: 14px;
		margin: 0;
		color: black;
		margin-top: 20%;
	}

	#newtop {
		width: 63%;
		height: 100%;
		margin-top: 5%;
		margin-left: 4%;
		margin-right: 2%;
		margin-bottom: 5%;
		float: left;
		background-color: white;
	}

	#newmain {
		width: 90%;
		height: 100%;
		padding: 3% 5% 3% 5%;
	}

	.newnoborder {
		position: absolute;
		width: 34%;
		height: 50%;
		top: 25%;
		right: 33%;
		bottom: 35%;
		left: 33%;
		background-color: white;
		z-index: 10;
	}

	.newnoborder h2 {
		width: 100%;
		height: 100%;
		text-align: center;
		font-weight: normal;
		font-family: courier;
		font-size: 200%;
		margin: 0;
	}

	.col-4 {
		width: 50%;
		height: 40%;
		/*margin-bottom: 8%;*/
	}

	.col-4:nth-child(6) {
		margin-bottom: 0;
	}

	.col-4_right {
		width: 50%;
		height: 40%;
		margin-bottom: 8%;
		left: 50%;	
	}

	.newcontents {
		width: 47%;
		height: 47%;
		margin-right: 6%;
		margin-bottom: 8%;
		float: left;
		position: relative;
		overflow: hidden;
		border: 2px solid;
	}

	.newcontents:nth-child(2) {
		margin-right: 0%;
	}

	.newcontents a {
		text-decoration: none;
	}

	.newcontents a:hover .cover {
		opacity: 0.5;
		transition: 0.3s;
	}

	.newcontents a:hover .more {
		opacity: 1;
		transition: 0.3s;
	}

	.newcontents a:hover .left {
		left: -15%;
	}

	.newcontents a:hover .right {
		right: -15%;
	}


	.newcontents_right {
		width: 47%;
		height: 47%;
		left: 55%;
		top: -164%;
		margin-right: 6%;
		margin-bottom: 8%;
		float: left;
		position: relative;
		overflow: hidden;
		border: 2px solid;
	}

	.newcontents_right a {
		text-decoration: none;
	}

	.newcontents_right a:hover .cover {
		opacity: 0.5;
		transition: 0.3s;
	}

	.newcontents_right a:hover .more {
		opacity: 1;
		transition: 0.3s;
	}

	.newcontents_right a:hover .left {
		left: -15%;
	}

	.newcontents_right a:hover .right {
		right: -15%;
	}




	.sidebar {
		width: 27%;
		height: auto;
		margin-top: 14.5%;
		margin-right: 4%;
		float: left;
	}

	.sidebar_show {
		width: 27%;
		height: auto;
		margin-right: 4%;
		float: left;
	}

	.facebookbar, .twitterbar, .googlebar{
		width: 100%;
		height: auto;
		margin-bottom: 8%;
	}

	.facebookbar img, .twitterbar img , .googlebar img{
		width: 100%;
		height: auto;
	}

	.facebookbar a:hover, .twitterbar a:hover, .googlebar a:hover {
		opacity: 0.7;
		transition: 0.3s;
	}

	#recommendbar {
		width: 100%;
		height: auto;
		margin-top: 20%;
	}

	#recommendbar h2 {
		width: 87%;
		padding: 5%;
		padding-left: 8%;
		margin: 0;
		font-weight: normal;
		color: white;
		background-color: #a381d1;
	}

	#recommendbar p {
		width: 90%;
		padding: 5%;
		margin: 0;
		font-size: 100%;
		font-weight: normal;
		text-align: center;
		color: white;
		background-color: #a381d1;
	}

	#recommendbar a {
		text-decoration: none;
	}

	#recommendbar a:hover p {
		opacity: 0.8;
		transition: 0.3s;
	}

	/*.pickup {
		width: 20%;
		height: 15%;
		margin: 0;
		padding: 5%;
		border-bottom: 1px solid #a381d1;
		text-decoration: none;
		background-color: white;
	}

	.pickup:hover h3 {
		color: orange;
	}

	.pickupimg { 
		width: 40%;
		height: 100%;
		position: relative;
		overflow: hidden;
		float: left;
	}

	.pickupimg img {
		position: absolute;
		width: 200%;
		height: auto;
		top: 0;
		right: -30%;
	}

	.pickupex {
		width: 55%;
		height: 99%;
		padding-left: 5%;
		padding-top: 1%;
		float: left;
	}

	.pickupex h3 {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		font-size: 90%;
		color: black;
		transition: 0.3s;
	}*/




	#pickup {
		margin-top: 30px;
		width: 100%;
		height: 37%;
		border-bottom: 4px solid;
		overflow: hidden;
	}

	.pickup_show {
		width: 90%;
		height: 15%;
		padding: 5%;
		border-bottom: 1px solid #a381d1;
		text-decoration: none;
		background-color: white;
	}

	.pickup_show:hover h3 {
		color: orange;
	}

	#pickup ul {
		width: 100%;
		height: 100%;
	    margin: 0;
	    padding: 0;
	    list-style: none;
	}

	#pickup li {
		margin: 0;
	    padding: 0;
	    list-style: none;
	}

	.pickup {
		width: 33.3%;
		height: 100%;
		float: left;
		position: relative;
		overflow: hidden;
	}

	.pickup img {
		position: absolute;
		height: 120%;
		right: 0;
	}

	.pickup:hover figcaption {
		top: 0;
		left: 0;
	}

	figcaption {
		position: absolute;
		top: 63%;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		background: white;
		-webkit-transition: .3s;
		transition: .3s;
		opacity: 0.8;
	}

	figcaption h3 {
		color: black;
		font-weight: lighter;
		margin-left: 3%;
		margin-top: 2%;
		font-size: 18px;
		z-index: 3;
		font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Osaka,sans-serif;
	}

	figcaption p {
		color: black;
		font-weight: lighter;
		margin-top: 15%;
		margin-left: 3%;
		margin-right: 3%;
		font-size: 16px;
		z-index: 3;
		font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Osaka,sans-serif;
	}








	footer {
		width: 100%;
		height: auto;
		position: relative;
		float: left;
		background-color: white;
		top: 90%;
	}

	footer img {
		width: 100%;
		height: auto;
	}

	.what {
		width: 20%;
		height: auto;
		position: absolute;
		left: 36%;
		top: 7%;
		z-index: 100;
	}

	.what img {
		width: 100%;
		height: auto;
	}

	#what {
		position: relative;
		transition: 0.3s;
	}

	#what img {
		position: absolute;
		right: 0;
		transition: 0.3s;
	}

	#what img:hover {
		right: 10%;
		top: 0;
	}

	.team {
		width: 20%;
		height: auto;
		position: absolute;
		left: 38%;
		top: 35%;
		z-index: 100;
	}

	.team img {
		width: 100%;
		height: auto;
	}

	#team {
		position: relative;
		transition: 0.3s;
	}

	#team img {
		position: absolute;
		right: 0;
		transition: 0.3s;
	}

	#team img:hover {
		right: 10%;
		top: 0;
	}

	.e-mail {
		width: 20%;
		height: auto;
		position: absolute;
		left: 41%;
		top: 60%;
		z-index: 100;
	}

	.e-mail img {
		width: 100%;
		height: auto;
	}

	#e-mail {
		position: relative;
		transition: 0.3s;
	}

	#e-mail img {
		position: absolute;
		right: 0;
		transition: 0.3s;
	}

	#e-mail img:hover {
		right: 10%;
		top: 0;
	}


	/* ロード前CSSロード前CSSロード前CSSロード前CSSロード前CSSロード前CSS
	ロード前CSSロード前CSSロード前CSSロード前CSSロード前CSSロード前CSSロード前CSS */


	.beforewrap {
		width: 100%;
		height: 200px;
		margin-top: -7%;
		background-color: white;
	}

	.title {
		width: 100%;
		height: 50%;
		margin-top: 25%;
		margin-bottom: auto;
		overflow: hidden;
		position: relative;
	}

	.titlecontent {
		width: 50%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.titlecontent p {
		position: absolute;
		display: block;
		text-align: center;
		width: 100%;
		height: 70%;
		top: 15%;
		bottom: 15%;
	}

	.title1 {
		position: absolute;
		display: block;
		text-align: center;
		width: 100%;
		height: 30%;
		top: -30%;
		bottom: 60%;
		font-family: courier;
		font-size: 300%;
	}

	.textSplitLoad {
	    display: none;
	}

	.titlep {
		visibility: hidden;
		position: absolute;
		display: block;
		text-align: center;
		width: 100%;
		height: 5%;
		top: 50%;
		bottom: 45%;
		font-size: 20px;
		transform: translateY(5%);
		transition-delay: 0.5s;
		font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Osaka,sans-serif;
	}


	.pannelleft00 {
		position: absolute;
		width: 30%;
		height: 100%;
		top: 0;
		left: -35%;
		background-color: black;
		-webkit-transform: skew(10deg);  
	    -moz-transform: skew(10deg); 
	}

	.pannelright00 {
		position: absolute;
		width: 30%;
		height: 100%;
		top: 0;
		right: -35%;
		background-color: black;
		-webkit-transform: skew(10deg);  
	    -moz-transform: skew(10deg); 
	}

}

